# Titanic: Machine Learning from Disaster

#### Import necessary libraries

In [16]:
import pandas as pd
from sklearn.preprocessing import  LabelEncoder, OneHotEncoder

#### Get the data

In [17]:
data = pd.read_csv('gender_submission.csv')
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [18]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [19]:
train_X = train.drop(['PassengerId','Name', 'Ticket', 'Cabin', 'SibSp', 'Parch', 'Embarked', 'Survived'], axis = 1)
train_X.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [21]:
train_y = train['Survived']
train_y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

#### We believe sex to be an important variable, but it cannot be used in a calculation, so we need to encode it to either 0 or 1 for male or female

In [23]:
labelEncoder = LabelEncoder()
onehotencoder = OneHotEncoder()
train_X = train_X.apply(labelEncoder.fit_transform)
train_X.head()

   Pclass  Sex  Age  Fare
0       2    1   28    18
1       0    0   51   207
2       2    0   34    41
3       0    0   47   189
4       2    1   47    43

Now we need to scale the data

In [24]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
train_X = sc.fit_transform(train_X)
train_X

array([[ 0.82737724,  0.73769513, -0.61953878, -1.24717035],
       [-1.56610693, -1.35557354, -0.24544973,  1.45116508],
       [ 0.82737724, -1.35557354, -0.52195034, -0.91880149],
       ...,
       [ 0.82737724, -1.35557354,  0.38887518,  0.36612014],
       [-1.56610693,  0.73769513, -0.52195034,  0.6802121 ],
       [ 0.82737724,  0.73769513, -0.3918324 , -1.07584746]])

In [36]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(train_X, train_y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [37]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [38]:
classifier.predict(test)

ValueError: could not convert string to float: 'C'