# Titanic: Machine Learning from Disaster

#### Import necessary libraries

In [2]:
import pandas as pd

#### Get the data

In [5]:
data = pd.read_csv('gender_submission.csv')
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
data.head()
train.head()
test.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1